body {
}

h1#politigo {
  text-align: center;
  font-family: 'Frijole', cursive;
  font-size: 8vw;
  /* font-size: 7em; */
  /* padding-top: .5vh; */
}
span.detail {
  font-family: 'Codystar', cursive;
  font-size: 18px;
}
button.detail {
  font-family:'Oswald', sans-serif;
  font-size: 16px;
}
.pulse {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.shake {
animation-duration: 3s;
}

#subtitle {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 5px;
}

#subtitle:hover {
}

#user-form-container {
  margin-top: 20px;
}

.user-option {
  margin-left:10px;
  font-size: 20px;
  font-family:'Oswald', sans-serif; color: #004D40;
  letter-spacing: .75px; text-align: center;"
}

.form-label {
  font-size: 14px;
  color: #000000;
  height: 30px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.submit-button {
  font-size: 12px;
  font-family: 'Oswald';
  margin-top: 15px;
  float: right;
}

h3 {
  font-family: 'Fredericka the Great', cursive;"
}

#current-user-score {
  font-family:'Major Mono Display', cursive;
  margin-bottom: 20px;"
}

#current-users-events {
  font-family:'Cinzel Decorative', monospace;
}

.event-details {
  font-family: 'Codystar', cursive;
  font-size: 18px;
  font-weight: bold;
}

#show-users {
  font-family:'Oswald', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  width: 75px;
  height: 28px;
  position: relative;
  display: inline-block;
  top: 12px;
  left: 30px;
}

#users-list {
  font-family: 'Major Mono Display', cursive;
  font-size: 14px
}

#events-list {
  font-family: 'Cinzel Decorative', monospace;
}

.events {
  display: flex;
  justify-content: space-between;
}

.col.s6::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.col.s6::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.card.green {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

#map {
  padding-bottom: 25px;
  /* position: fixed;
  top: 2%;
  right: 2%;
  width: 50%;
  height: 200px; */
}

#footer {
  margin:auto;
  display:table;
  font-family: 'Major Mono Display', monospace;
  font-size:10px;
  padding-bottom: 2vh;
}
